<mat-toolbar>
    <button mat-icon-button class="example-icon" 
        [matMenuTriggerFor]="menu"
        aria-label="Menu Button">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item
            [routerLink]="['/']">
            <span>Dashboard</span>
        </button>

        <button mat-menu-item
            [routerLink]="['/dnsmasq-zones']">
            <span>DNS Zones</span>
        </button>

        <button mat-menu-item
            [routerLink]="['/dnsmasq-config']">
            <span>Config</span>
        </button>

        <button mat-menu-item
            [routerLink]="['/dnsmasq']">
            Advanced
        </button>
    </mat-menu>

    <span class="title">{{title}}</span>

</mat-toolbar>

<!--div class="container" fxLayout="row wrap" fxLayoutAlign="space-around"-->
<!-- 
<div class="container">
    <app-dnsmasq></app-dnsmasq>
</div>
-->
<!--/div-->

<div class="container">
    <router-outlet></router-outlet>
</div>
