<!--
<div *ngFor="let iface of interfaces">
    <span>{{iface.iface}}</span>

</div>
-->

<!--table mat-table [dataSource]="interfaces" class="mat-elevation-z8" flex>

    <ng-container matColumnDef="linkmode">
        <th mat-header-cell *matHeaderCellDef> Mode </th>
        <td mat-cell *matCellDef="let element"> 
            <mat-icon *ngIf="element.linkmode == -1">loop</mat-icon>
            <mat-icon *ngIf="element.linkmode == 1">wifi</mat-icon>
            <mat-icon *ngIf="element.linkmode == 0">settings_input_hdmi</mat-icon>
            <mat-icon *ngIf="element.linkmode > 1">account_tree</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.index}} </td>
    </ng-container>

    <ng-container matColumnDef="iface">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element"> 
            <div>
                <mat-icon *ngIf="element.state == 'up'" class="state_up">verified</mat-icon>
                <mat-icon *ngIf="element.state == 'down'" class="state_down">cancel</mat-icon>
                <mat-icon *ngIf="element.state != 'down' && element.state != 'up'" class="state_unknown">help_outline</mat-icon>
                {{element.iface}} 
            </div>
        </ng-container>

    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element"> 
            <div *ngFor="let ip of element.ip_addr4">
                {{ip.addr}}/{{ip.mask}}
            </div>
            <div *ngFor="let ip of element.ip_addr6">
                {{ip.addr}}/{{ip.mask}}
            </div>
            <div>Mac: {{element.hw_addr}}</div>
            <div *ngIf="element.default_gw != null">Gateway: {{element.default_gw}}</div>
            <div *ngIf="element.default_gw == null">Gateway: n/a</div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table-->

<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh">
<h1>Interfaces</h1>
<div fxLayout="row wrap" fxLayoutGap="1em grid">
<div
    fxFlex="25"
    fxFlex.md="33"
    fxFlex.sm="50"
    fxFlex.xs="100"
    fxLayout="column"
    *ngFor="let element of interfaces">

    <mat-card class="interface-card mat-elevation-z5">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon *ngIf="element.linkmode == -1">loop</mat-icon>
                <mat-icon *ngIf="element.linkmode == 1">wifi</mat-icon>
                <mat-icon *ngIf="element.linkmode == 0">settings_input_hdmi</mat-icon>
                <mat-icon *ngIf="element.linkmode > 1">account_tree</mat-icon>
            </div>
            <mat-card-title>
                <mat-icon 
                    *ngIf="element.state == 'up' && (element.ip_addr4.length > 0 ||  element.ip_addr6.length > 0)" 
                    class="state_up">verified</mat-icon>
                <mat-icon 
                    *ngIf="element.state == 'down' || (element.ip_addr4.length == 0 &&  element.ip_addr6.length == 0)" 
                    class="state_down">cancel</mat-icon>
                <mat-icon 
                    *ngIf="element.state != 'down' && element.state != 'up'" 
                    class="state_unknown">help_outline</mat-icon>
                {{element.iface}}
            </mat-card-title>
            <mat-card-subtitle>
                {{element.hw_addr}}
                <span *ngIf="!element.hw_addr">n/a</span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table>
                <tr>
                    <td>IPv4</td>
                    <td>
                        <div *ngFor="let ip of element.ip_addr4">
                            {{ip.addr}}/{{ip.mask}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>IPv6</td>
                    <td>
                        <div *ngFor="let ip of element.ip_addr6">
                            {{ip.addr}}/{{ip.mask}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Gateway</td>
                    <td>
                        <div *ngIf="element.default_gw != null">{{element.default_gw}}</div>
                        <div *ngIf="element.default_gw == null">n/a</div>
                    </td>
                </tr>

            </table>
        </mat-card-content>
        <mat-card-actions>
            <!-- add buttons here-->
        </mat-card-actions>
    </mat-card>
</div>
</div>
</div>