/*
table.mat-table {
    display: table;
    width: 100%;
}

.mat-cell {
    padding-top: 1em;
    vertical-align: top;
    padding-bottom: 0.5em;
}
*/

/*
.interface-card {
    width: 400px;
    float: left;
}
*/

.mat-card-avatar .mat-icon {
    font-size: 3em;
}

.mat-card-title .mat-icon {
    vertical-align: middle;
}

.state_up {
    color: #017401;
}

.state_down {
    color: #570000;
}

.state_unknown {
    color: #915200;
}

