<div>
    <mat-label>{{label}}</mat-label>
    <div *ngFor="let v of _values; index as i; trackBy: identify">
        <mat-form-field appearance="standard" class="form-field">
            <input 
                matInput 
                [type]="type"
                id="{{property}}_{{i}}"
                name="{{property}}_{{i}}"
                [(ngModel)]="_values[i]"

                form="novalidatedform"
                autocomplete="false"
                spellcheck="false"

                [ip4Validator]="_ip4Validator"
                [ip6Validator]

                (change)="change($event, i)"
                (keyup)="change($event, i)"
                >

            <!-- remove-->
            <div matSuffix>
                <button mat-button *ngIf="i != 0" 
                    mat-icon-button 
                    aria-label="Remove" 
                    type="button"
                    (click)="remove($event, i)">
                    <mat-icon>close</mat-icon>
                </button>
                <!-- last row, add-->
                <button mat-button *ngIf="values.length-1 == i" 
                    mat-icon-button 
                    aria-label="Add" 
                    type="button"
                    (click)="add($event, i)">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
            </div>

        </mat-form-field>
    </div>
</div>

{{_ip4Validator}}