.label {
    display: block;
    float: left;
    width: 120pt;
}

.full-width {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.input {
    width: 100%;
}

.dnsmasqDescription {
    display: none;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.helpbtn {
    margin-left: 0.5em;
}

.help_icon {
    vertical-align: middle;
    transform: scale(0.7);
}