<div>
    <div>
        <!--
        <div class="label">{{cfgDirective.key}}</div>
        <div class="value">
            <input type="text" 
                   name="{{cfgDirective.key}}" 
                   placeholder="{{cfgDirective.exampleValue}}"
                   value="{{value}}">
        </div>
        -->
        <!--
        <mat-form-field class="full-width">
            <mat-label>{{cfgDirective.key}}</mat-label>
            <input matInput 
                   name="{{cfgDirective.key}}" 
                   placeholder="{{cfgDirective.exampleValue}}" 
                   value="{{value}}">
        </mat-form-field>
        -->
        <mat-accordion class="example-headers-align" hideToggle>
            <mat-expansion-panel 
                #accordion
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
                #panelH (click)="panelH.toggle()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{cfgDirective.key}}
                    </mat-panel-title>
                    <mat-panel-description>
                        <input matInput
                            class="input"
                            name="{{cfgDirective.key}}" 
                            placeholder="{{cfgDirective.exampleValue}}" 
                            value="{{value}}"
                            >
                        <a (click)="toggle($event)" class="helpbtn">
                            <mat-icon class="help_icon">help_outline</mat-icon>
                        </a>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <br>
                <mat-chip-list>
                    {{cfgDirective.key}} <mat-chip>{{cfgDirective.exampleValue}}</mat-chip>
                </mat-chip-list>
                <br>
                {{cfgDirective.description}}
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>