<mat-card-title>DNSMasq</mat-card-title>
<!--button (click)="dnsmasq_fetch_cfgdirective()" id="btnLoad">Load</button-->

<form *ngFor="let group of cfgGroup" class="dnsmasqGroup">
    <ng-container *ngIf="group.group != 0 && group.group != 6">
        <h3>{{group.name}}</h3>
        <div *ngFor="let cfg of cfgdirective" class="dnsmasqGroupGeneral">
            <ng-container *ngIf="cfg.groups.indexOf(group.group) != -1">
                <!--div>
                    <span class="label">{{cfg.key}}</span>
                    <span><input type="text"></span>
                </div>
                <div class="dnsmasqDescription">
                    {{cfg.description}}
                </div-->
                <app-dnsmasq-input 
                    [cfgDirective]="cfg"
                    [configs]="config"
                    ></app-dnsmasq-input>
            </ng-container>
        </div>
    </ng-container>
</form>

