/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button-toggle-label-content  {
    line-height: 0px !important;
    padding: 5px 12px 5px 12px !important
}

.mat-form-field-suffix, .mat-form-field-suffix div, .mat-form-field-suffix div button {
    display: inline ! important;
}

