<div class="input-dnshost" fxLayout="column" fxLayoutGap="0px">
    <mat-form-field appearance="standard" class="form-field">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="dnshost.type" name="type" required>
            <mat-option *ngFor="let rt of record_type" [value]="rt.value">
                {{rt.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- multiple names-->
    <ng-container *ngIf="['cname', 'host-record'].lastIndexOf(dnshost.type) != -1">
        <app-input-multi 
            label="Hostname" 
            property="name"
            (valuechange)='onValuechange($event)'
            [values]="dnshost.name">
        </app-input-multi>
    </ng-container>

    <!-- one name-->
    <mat-form-field appearance="standard" class="form-field"
        *ngIf="['cname', 'host-record'].lastIndexOf(dnshost.type) == -1">
        <mat-label>Hostname</mat-label>
        <input matInput type="text" [(ngModel)]="dnshost.name[0]">
        <button mat-button *ngIf="dnshost.name[0]" matSuffix mat-icon-button aria-label="Clear" 
            (click)="dnshost.name[0]">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="standard" class="form-field"
        *ngIf="['cname', 'ptr-record', 'mx-host', 'srv-host'].lastIndexOf(dnshost.type) != -1">
        <mat-label>Target</mat-label>
        <input matInput type="text" [(ngModel)]="dnshost.target">
        <button mat-button *ngIf="dnshost.target" matSuffix mat-icon-button aria-label="Clear" (click)="dnshost.target">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="standard" class="form-field"
    *ngIf="['dhcp-host', 'host-record'].lastIndexOf(dnshost.type) != -1">
        <mat-label>IPv4</mat-label>
        <input matInput type="text" [(ngModel)]="dnshost.ipv4">
        <button mat-button *ngIf="dnshost.ipv4" matSuffix mat-icon-button aria-label="Clear" (click)="dnshost.ipv4=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    
    <mat-form-field appearance="standard" class="form-field"
        *ngIf="['dhcp-host', 'host-record'].lastIndexOf(dnshost.type) != -1">
        <mat-label>IPv6</mat-label>
        <input matInput type="text" [(ngModel)]="dnshost.ipv6">
        <button mat-button *ngIf="dnshost.ipv6" matSuffix mat-icon-button aria-label="Clear" (click)="dnshost.ipv6=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    
    <app-input-multi 
        label="Mac" 
        property="mac"
        (valuechange)='onValuechange($event)'
        [values]="dnshost.mac"
        *ngIf="dnshost.type == 'dhcp-host'"></app-input-multi>

    <mat-form-field appearance="standard" class="form-field" *ngIf="dnshost.type == 'dhcp-host'">
        <mat-label>Lease Time</mat-label>
        <input matInput type="text" [(ngModel)]="dnshost.dhcp.lease_time">
        <button mat-button *ngIf="dnshost.dhcp.lease_time" matSuffix mat-icon-button aria-label="Clear" (click)="dnshost.dhcp.lease_time">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="standard" class="form-field"
        *ngIf="['cname', 'host-record'].lastIndexOf(dnshost.type) != -1">
        <mat-label>TTL</mat-label>
        <input matInput type="number" [(ngModel)]="dnshost.ttl">
        <button mat-button *ngIf="dnshost.ttl" matSuffix mat-icon-button aria-label="Clear" (click)="dnshost.ttl">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <app-input-multi 
        *ngIf="dnshost.type == 'txt-record'"
        label="Text" 
        property="txt"
        (valuechange)='onValuechange($event)'
        [values]="dnshost.txt"></app-input-multi>

    <mat-form-field appearance="standard" class="form-field"
        *ngIf="dnshost.type == 'mx-host'">
        <mat-label>Preference</mat-label>
        <input matInput type="number" [(ngModel)]="dnshost.mx">
        <button mat-button *ngIf="dnshost.mx" matSuffix mat-icon-button aria-label="Clear" (click)="dnshost.mx">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    
    <div *ngIf="dnshost.type == 'srv-host'">
        <mat-form-field appearance="standard" class="form-field number">
            <mat-label>Port</mat-label>
            <input matInput type="number" [(ngModel)]="dnshost.srv[0]">
        </mat-form-field>
        <mat-form-field appearance="standard" class="form-field number">
            <mat-label>Priority</mat-label>
            <input matInput type="number" [(ngModel)]="dnshost.srv[0]">
        </mat-form-field>
        <mat-form-field appearance="standard" class="form-field number">
            <mat-label>Weight</mat-label>
            <input matInput type="number" [(ngModel)]="dnshost.srv[0]">
        </mat-form-field>
    </div>
    
    <div *ngIf="dnshost.type == 'caa-record'">
        <mat-form-field appearance="standard" class="form-field">
            <mat-label>Flags</mat-label>
            <input matInput type="text" [(ngModel)]="dnshost.caa[0]">
        </mat-form-field>
        <mat-form-field appearance="standard" class="form-field">
            <mat-label>Tag</mat-label>
            <input matInput type="text" [(ngModel)]="dnshost.caa[1]">
        </mat-form-field>
        <mat-form-field appearance="standard" class="form-field">
            <mat-label>Value</mat-label>
            <input matInput type="text" [(ngModel)]="dnshost.caa[2]">
        </mat-form-field>
    </div>
    
    <mat-slide-toggle class="ignore" *ngIf="dnshost.type == 'dhcp-host'"
        [checked]="dnshost.dhcp.ignore">
        Ignore (never answer DHCP Queries)
    </mat-slide-toggle>

    <mat-slide-toggle class="ignore" *ngIf="dnshost.type == 'dhcp-host'"
        [checked]="dnshost.options.indexOf('dhcp-host-a-ptr') > -1"
        (change)="update_add_dhcpaptr($event)">
        Automatically generate DNS A/AAA/PTR entry
    </mat-slide-toggle>

</div>
