button {
    margin-right: 0.5em;
}

.controls {
    margin-bottom: 1em;
}

.container mat-icon {
    vertical-align: middle;
    padding-right: 0.5em;
}

#add-dns-host {
    max-width: 500px;
    width: 100%;
}
