<div class="controls"  *ngIf="show_add_form == false">

    <button mat-button mat-flat-button color="primary" 
        matSuffix [matMenuTriggerFor]="menu">
        <mat-icon>add_circle_outline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit_host(null)">Host</button>
        <button mat-menu-item>Zone</button>
    </mat-menu>
    
    <!--ng-container *ngFor="let zone of zones; let i = index;">
        <button id="{{zones_ids[i]}}" mat-flat-button [color]="btn_color" matSuffix (click)="active_zone($event, zone)">
            <mat-icon>cloud</mat-icon>
            {{zone}}
        </button>    
    </ng-container-->


    <button mat-button mat-stroked-button matSuffix 
        [matMenuTriggerFor]="zoneMenu" aria-label="Zone Selection">
        <mat-icon>more_vert</mat-icon>
        <mat-icon>cloud</mat-icon> 
        {{active}}
    </button>
    <mat-menu #zoneMenu="matMenu">
        <button mat-menu-item *ngFor="let zone of zones; let i = index;"
            value="{{zones_ids[i]}}"
            (click)="active_zone($event, zone)">
            <mat-icon>cloud</mat-icon>
            {{zone}}</button>
    </mat-menu>
    

    <!--mat-button-toggle-group name="zone" aria-label="Select Zone"
        *ngFor="let zone of zones; let i = index;">
        <mat-button-toggle value="{{zones_ids[i]}}"
            (click)="active_zone($event, zone)">
            <mat-icon>cloud</mat-icon>
            {{zone}}
        </mat-button-toggle>
    </mat-button-toggle-group-->
</div>

<div id="add-dns-host" *ngIf="show_add_form == true">
    <app-input-dnshost [dnshost]="selected_host"></app-input-dnshost>
    <div>
        <span fxFlex>
            <button  
                mat-stroked-button color="accent" 
                (click)="delete_entry($event)"
                matSuffix>
                <mat-icon>delete_forever</mat-icon>
                Delete
            </button>
        </span>

        <button  
            mat-stroked-button color="basic" 
            matSuffix (click)="show_add_form = false">
            <mat-icon>cancel</mat-icon>
            Cancel
        </button>

        <button  mat-flat-button color="primary" matSuffix 
            (click)="save()">
            <mat-icon>save</mat-icon>
            Save
        </button>
    </div>
</div>

<div class="container" 
    fxLayout="row wrap"
    fxLayoutGap="16px grid"
    *ngIf="show_add_form == false">
    <div 
        fxFlex="25%" 
        fxFlex.md="33%"
        fxFlex.sm="50%"
        fxFlex.xs="100%" 
        *ngFor="let host of zone; index as i" class="entry"
        (click)="edit_host(host, i)">
        <mat-card class="entry-main mat-elevation-z5">
        
            <!-- type icon -->
            <mat-icon>{{icons.get(host.type)}}</mat-icon>

            <!-- list item for dhcp-host ignore: show ignore-label [host]/[mac]  -->
            <mat-icon *ngIf="host.dhcp.ignore">
                block
            </mat-icon>

            <!-- Generic view -->
            <span>{{display_name(host.name)}}</span>
            <span *ngIf="host.name.length == 0">{{host.mac}}</span>


            <!-- list item for cname: show "source - dest" -->
            <span *ngIf="host.type == 'cname'"> -&gt; {{display_name([host.target])}}</span>

            <!-- mx-host: show preference (mx property) -->
            <span *ngIf="host.mx"> ({{host.mx}})</span>

            <!-- srv, show [:port[priority[weight]]]-->
            <span *ngIf="host.type == 'srv-host'">
                <ng-container *ngIf="host.srv[0]">
                    : {{host.srv[0]}}
                    <ng-container *ngIf="host.srv[1]">
                       / {{host.srv[1]}}
                    </ng-container>
                </ng-container>
            </span>
        </mat-card>
    </div>
</div>

<!--
GENERAL
<br><br>
--interface-name=&lt;name&gt;,&lt;interface&gt;[/4|/6]<br>
Return DNS records associating the name with the address(es) of the given interface. This flag specifies an A or AAAA record for the given name in the same way as an /etc/hosts line, except that the address is not constant, but taken from the given interface. The interface may be followed by "/4" or "/6" to specify that only IPv4 or IPv6 addresses of the interface should be used. If the interface is down, not configured or non-existent, an empty record is returned. The matching PTR record is also created, mapping the interface address to the name. More than one name may be associated with an interface address by repeating the flag; in that case the first instance is used for the reverse address-to-name mapping. Note that a name used in --interface-name may not appear in /etc/hosts.
<br><br>
-E, --expand-hosts<br>
Add the domain to simple names (without a period) in /etc/hosts in the same way as for DHCP-derived names. Note that this does not apply to domain names in cnames, PTR records, TXT records etc.
<br><br>
-x, --pid-file=&lt;path&gt;<br>
Specify an alternate path for dnsmasq to record its process-id in. Normally /var/run/dnsmasq.pid.
<br><br>
-u, --user=&lt;username&gt;<br>
Specify the userid to which dnsmasq will change after startup. Dnsmasq must normally be started as root, but it will drop root privileges after startup by changing id to another user. Normally this user is "nobody" but that can be over-ridden with this switch.
<br><br>
-g, --group=&lt;groupname&gt;<br>
Specify the group which dnsmasq will run as. The default is "dip", if available, to facilitate access to /etc/ppp/resolv.conf which is not normally world readable.
<br><br>
-p, --port=&lt;port&gt;<br>
Listen on &lt;port&gt; instead of the standard DNS port (53). Setting this to zero completely disables DNS function, leaving only DHCP and/or TFTP.
<br><br>
-i, --interface=&lt;interface name&gt;<br>
Listen only on the specified interface(s). Dnsmasq automatically adds the loopback (local) interface to the list of interfaces to use when the --interface option is used. If no --interface or --listen-address options are given dnsmasq listens on all available interfaces except any given in --except-interface options. On Linux, when --bind-interfaces or --bind-dynamic are in effect, IP alias interface labels (eg "eth1:0") are checked, rather than interface names. In the degenerate case when an interface has one address, this amounts to the same thing but when an interface has multiple addresses it allows control over which of those addresses are accepted. The same effect is achievable in default mode by using --listen-address. A simple wildcard, consisting of a trailing '*', can be used in --interface and --except-interface options.
<br><br>
-a, --listen-address=&lt;ipaddr&gt;<br>
Listen on the given IP address(es). Both --interface and --listen-address options may be given, in which case the set of both interfaces and addresses is used. Note that if no --interface option is given, but --listen-address is, dnsmasq will not automatically listen on the loopback interface. To achieve this, its IP address, 127.0.0.1, must be explicitly given as a --listen-address option.
<br><br>
<br><br>


DNS
<br><br>
-D, --domain-needed<br>
Tells dnsmasq to never forward A or AAAA queries for plain names, without dots or domain parts, to upstream nameservers. If the name is not known from /etc/hosts or DHCP then a "not found" answer is returned.
<br><br>
--local-service<br>
Accept DNS queries only from hosts whose address is on a local subnet, ie a subnet for which an interface exists on the server. This option only has effect if there are no --interface, --except-interface, --listen-address or --auth-server options. It is intended to be set as a default on installation, to allow unconfigured installations to be useful but also safe from being used for DNS amplification attacks.
<br><br>
--max-ttl=&lt;time&gt;<br>
Set a maximum TTL value that will be handed out to clients. The specified maximum TTL will be given to clients instead of the true TTL value if it is lower. The true TTL value is however kept in the cache to avoid flooding the upstream DNS servers.
<br><br>
--max-cache-ttl=&lt;time&gt;<br>
Set a maximum TTL value for entries in the cache.
<br><br>
--min-cache-ttl=&lt;time&gt;<br>
Extend short TTL values to the time given when caching them. Note that artificially extending TTL values is in general a bad idea, do not do it unless you have a good reason, and understand what you are doing. Dnsmasq limits the value of this option to one hour, unless recompiled.
<br><br>
--auth-ttl=&lt;time&gt;<br>
Set the TTL value returned in answers from the authoritative server.
<br><br>
--auth-server=&lt;domain&gt;,[&lt;interface&gt;|&lt;ip-address&gt;...]<br>
Enable DNS authoritative mode for queries arriving at an interface or address. Note that the interface or address need not be mentioned in --interface or --listen-address configuration, indeed --auth-server will override these and provide a different DNS service on the specified interface. The &lt;domain&gt; is the "glue record". It should resolve in the global DNS to an A and/or AAAA record which points to the address dnsmasq is listening on. When an interface is specified, it may be qualified with "/4" or "/6" to specify only the IPv4 or IPv6 addresses associated with the interface. Since any defined authoritative zones are also available as part of the normal recusive DNS service supplied by dnsmasq, it can make sense to have an --auth-server declaration with no interfaces or address, but simply specifying the primary external nameserver.
<br><br>
-s, --domain=&lt;domain&gt;[,&lt;address range&gt;[,local]]<br>
Specifies DNS domains for the DHCP server. Domains may be be given unconditionally (without the IP range) or for limited IP ranges. This has two effects; firstly it causes the DHCP server to return the domain to any hosts which request it, and secondly it sets the domain which it is legal for DHCP-configured hosts to claim. The intention is to constrain hostnames so that an untrusted host on the LAN cannot advertise its name via DHCP as e.g. "microsoft.com" and capture traffic not meant for it. If no domain suffix is specified, then any DHCP hostname with a domain part (ie with a period) will be disallowed and logged. If suffix is specified, then hostnames with a domain part are allowed, provided the domain part matches the suffix. In addition, when a suffix is set then hostnames without a domain part have the suffix added as an optional domain part. Eg on my network I can set --domain=thekelleys.org.uk and have a machine whose DHCP hostname is "laptop". The IP address for that machine is available from dnsmasq both as "laptop" and "laptop.thekelleys.org.uk". If the domain is given as "#" then the domain is read from the first "search" directive in /etc/resolv.conf (or equivalent).
The address range can be of the form &lt;ip address&gt;,&lt;ip address&gt; or &lt;ip address&gt;/&lt;netmask&gt; or just a single &lt;ip address&gt;. See --dhcp-fqdn which can change the behaviour of dnsmasq with domains.
<br>
If the address range is given as ip-address/network-size, then a additional flag "local" may be supplied which has the effect of adding --local declarations for forward and reverse DNS queries. Eg. --domain=thekelleys.org.uk,192.168.0.0/24,local is identical to --domain=thekelleys.org.uk,192.168.0.0/24 --local=/thekelleys.org.uk/ --local=/0.168.192.in-addr.arpa/ The network size must be 8, 16 or 24 for this to be legal.
<br><br>
-A, --address=/&lt;domain&gt;[/&lt;domain&gt;...]/[&lt;ipaddr&gt;]<br>
Specify an IP address to return for any host in the given domains. Queries in the domains are never forwarded and always replied to with the specified IP address which may be IPv4 or IPv6. To give both IPv4 and IPv6 addresses for a domain, use repeated --address flags. To include multiple IP addresses for a single query, use --addn-hosts=&lt;path&gt; instead. Note that /etc/hosts and DHCP leases override this for individual names. A common use of this is to redirect the entire doubleclick.net domain to some friendly local web server to avoid banner ads. The domain specification works in the same was as for --server, with the additional facility that /#/ matches any domain. Thus --address=/#/1.2.3.4 will always return 1.2.3.4 for any query not answered from /etc/hosts or DHCP and not sent to an upstream nameserver by a more specific --server directive. As for --server, one or more domains with no address returns a no-such-domain answer, so --address=/example.com/ is equivalent to --server=/example.com/ and returns NXDOMAIN for example.com and all its subdomains. An address specified as '#' translates to the NULL address of 0.0.0.0 and its IPv6 equivalent of :: so --address=/example.com/# will return NULL addresses for example.com and its subdomains. This is partly syntactic sugar for --address=/example.com/0.0.0.0 and --address=/example.com/:: but is also more efficient than including both as separate configuration lines. Note that NULL addresses normally work in the same way as localhost, so beware that clients looking up these names are likely to end up talking to themselves.
<br><br>
<br><br>


DHCP
<br><br>
-l, --dhcp-leasefile=&lt;path&gt;<br>
Use the specified file to store DHCP lease information.
<br><br>
-T, --local-ttl=&lt;time&gt;<br>
When replying with information from /etc/hosts or configuration or the DHCP leases file dnsmasq by default sets the time-to-live field to zero, meaning that the requester should not itself cache the information. This is the correct thing to do in almost all situations. This option allows a time-to-live (in seconds) to be given for these replies. This will reduce the load on the server at the expense of clients using stale data under some circumstances.
<br><br>
--dhcp-ttl=&lt;time&gt;<br>
As for --local-ttl, but affects only replies with information from DHCP leases. If both are given, --dhcp-ttl applies for DHCP information, and --local-ttl for others. Setting this to zero eliminates the effect of --local-ttl for DHCP.
<br><br>
-F, --dhcp-range=[tag:&lt;tag&gt;[,tag:&lt;tag&gt;],][set:&lt;tag&gt;,]&lt;start-addr&gt;[,&lt;end-addr&gt;|&lt;mode&gt;][,&lt;netmask&gt;[,&lt;broadcast&gt;]][,&lt;lease time&gt;]<br>
-F, --dhcp-range=[tag:&lt;tag&gt;[,tag:&lt;tag&gt;],][set:&lt;tag&gt;,]&lt;start-IPv6addr&gt;[,&lt;end-IPv6addr&gt;|constructor:&lt;interface&gt;][,&lt;mode&gt;][,&lt;prefix-len&gt;][,&lt;lease time&gt;]<br>
Enable the DHCP server. Addresses will be given out from the range &lt;start-addr&gt; to &lt;end-addr&gt; and from statically defined addresses given in --dhcp-host options. If the lease time is given, then leases will be given for that length of time. The lease time is in seconds, or minutes (eg 45m) or hours (eg 1h) or "infinite". If not given, the default lease time is one hour for IPv4 and one day for IPv6. The minimum lease time is two minutes. For IPv6 ranges, the lease time maybe "deprecated"; this sets the preferred lifetime sent in a DHCP lease or router advertisement to zero, which causes clients to use other addresses, if available, for new connections as a prelude to renumbering.
<br><br>
-2, --no-dhcp-interface=&lt;interface name&gt;<br>
Do not provide DHCP or TFTP on the specified interface, but do provide DNS service.
<br><br>
-O, --dhcp-option=[tag:&lt;tag&gt;,[tag:&lt;tag&gt;,]][encap:&lt;opt&gt;,][vi-encap:&lt;enterprise&gt;,][vendor:[&lt;vendor-class&gt;],][&lt;opt&gt;|option:&lt;opt-name&gt;|option6:&lt;opt&gt;|option6:&lt;opt-name&gt;],[&lt;value&gt;[,&lt;value&gt;]]<br>
Specify different or extra options to DHCP clients. By default, dnsmasq sends some standard options to DHCP clients, the netmask and broadcast address are set to the same as the host running dnsmasq, and the DNS server and default route are set to the address of the machine running dnsmasq. (Equivalent rules apply for IPv6.) If the domain name option has been set, that is sent. This configuration allows these defaults to be overridden, or other options specified. The option, to be sent may be given as a decimal number or as "option:&lt;option-name&gt;" The option numbers are specified in RFC2132 and subsequent RFCs. The set of option-names known by dnsmasq can be discovered by running "dnsmasq --help dhcp". For example, to set the default route option to 192.168.4.4, do --dhcp-option=3,192.168.4.4 or --dhcp-option = option:router, 192.168.4.4 and to set the time-server address to 192.168.0.4, do --dhcp-option = 42,192.168.0.4 or --dhcp-option = option:ntp-server, 192.168.0.4 The special address 0.0.0.0 is taken to mean "the address of the machine running dnsmasq".
<br><br>
<br><br>

HOST
<br><br>
-m, --mx-host=&lt;mx name&gt;[[,&lt;hostname&gt;],&lt;preference&gt;]<br>
Return an MX record named &lt;mx name&gt; pointing to the given hostname (if given), or the host specified in the --mx-target switch or, if that switch is not given, the host on which dnsmasq is running. The default is useful for directing mail from systems on a LAN to a central server. The preference value is optional, and defaults to 1 if not given. More than one MX record may be given for a host.
<br><br>
-W, --srv-host=&lt;_service&gt;.&lt;_prot&gt;.[&lt;domain&gt;],[&lt;target&gt;[,&lt;port&gt;[,&lt;priority&gt;[,&lt;weight&gt;]]]]<br>
Return a SRV DNS record. See RFC2782 for details. If not supplied, the domain defaults to that given by --domain. The default for the target domain is empty, and the default for port is one and the defaults for weight and priority are zero. Be careful if transposing data from BIND zone files: the port, weight and priority numbers are in a different order. More than one SRV record for a given service/domain is
<br><br>
--host-record=&lt;name&gt;[,&lt;name&gt;....],[&lt;IPv4-address&gt;],[&lt;IPv6-address&gt;][,&lt;TTL&gt;]<br>
Add A, AAAA and PTR records to the DNS. This adds one or more names to the DNS with associated IPv4 (A) and IPv6 (AAAA) records. A name may appear in more than one --host-record and therefore be assigned more than one address. Only the first address creates a PTR record linking the address to the name. This is the same rule as is used reading hosts-files. --host-record options are considered to be read before host-files, so a name appearing there inhibits PTR-record creation if it appears in hosts-file also. Unlike hosts-files, names are not expanded, even when --expand-hosts is in effect. Short and long names may appear in the same --host-record, eg. --host-record=laptop,laptop.thekelleys.org,192.168.0.1,1234::100
<br><br>
-Y, --txt-record=&lt;name&gt;[[,&lt;text&gt;],&lt;text&gt;]<br>
Return a TXT DNS record. The value of TXT record is a set of strings, so any number may be included, delimited by commas; use quotes to put commas into a string. Note that the maximum length of a single string is 255 characters, longer strings are split into 255 character chunks.
<br><br>
--ptr-record=&lt;name&gt;[,&lt;target&gt;]<br>
Return a PTR DNS record.
<br><br>
--naptr-record=&lt;name&gt;,&lt;order&gt;,&lt;preference&gt;,&lt;flags&gt;,&lt;service&gt;,&lt;regexp&gt;[,&lt;replacement&gt;]<br>
Return an NAPTR DNS record, as specified in RFC3403.
<br><br>
--caa-record=&lt;name&gt;,&lt;flags&gt;,&lt;tag&gt;,&lt;value&gt;<br>
Return a CAA DNS record, as specified in RFC6844.
<br><br>
--cname=&lt;cname&gt;,[&lt;cname&gt;,]&lt;target&gt;[,&lt;TTL&gt;]<br>
Return a CNAME record which indicates that &lt;cname&gt; is really &lt;target&gt;. There is a significant limitation on the target; it must be a DNS record which is known to dnsmasq and NOT a DNS record which comes from an upstream server. The cname must be unique, but it is permissible to have more than one cname pointing to the same target. Indeed it's possible to declare multiple cnames to a target in a single line, like so: --cname=cname1,cname2,target
If the time-to-live is given, it overrides the default, which is zero or the value of --local-ttl. The value is a positive integer and gives the time-to-live in seconds.
<br><br>
--dns-rr=&lt;name&gt;,&lt;RR-number&gt;,[&lt;hex data&gt;]<br>
Return an arbitrary DNS Resource Record. The number is the type of the record (which is always in the C_IN class). The value of the record is given by the hex data, which may be of the form 01:23:45 or 01 23 45 or 012345 or any mixture of these.
<br><br>
-G, --dhcp-host=[&lt;hwaddr&gt;][,id:&lt;client_id&gt;|*][,set:&lt;tag&gt;][tag:&lt;tag&gt;][,&lt;ipaddr&gt;][,&lt;hostname&gt;][,&lt;lease_time&gt;][,ignore]<br>
Specify per host parameters for the DHCP server. This allows a machine with a particular hardware address to be always allocated the same hostname, IP address and lease time. A hostname specified like this overrides any supplied by the DHCP client on the machine. It is also allowable to omit the hardware address and include the hostname, in which case the IP address and lease times will apply to any machine claiming that name. For example --dhcp-host=00:20:e0:3b:13:af,wap,infinite tells dnsmasq to give the machine with hardware address 00:20:e0:3b:13:af the name wap, and an infinite DHCP lease. --dhcp-host=lap,192.168.0.199 tells dnsmasq to always allocate the machine lap the IP address 192.168.0.199.
Addresses allocated like this are not constrained to be in the range given by the --dhcp-range option, but they must be in the same subnet as some valid dhcp-range. For subnets which don't need a pool of dynamically allocated addresses, use the "static" keyword in the --dhcp-range declaration.

-->