
<form #configForm="ngForm" name="configForm">

<div fxFlex fxLayout="column" fxLayoutGap="10px">
    <h1>DNS Config</h1>

    <div fxFlex="grow" fxLayout="row wrap" fxLayoutGap="1em grid">
        <div
            fxFlex="33"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayoutAlign="start stretch">

            <mat-card 
                fxFlex
                class="mat-elevation-z5">
                <mat-card-header class="title">
                    <div mat-card-avatar>
                        <mat-icon class="card-icon">router</mat-icon>
                    </div>
                    <mat-card-title>
                        Interfaces
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>

                    <div *ngFor="let item of interface_dns; let i = index">
                        <mat-checkbox [(ngModel)]="item.checked" name="interface_dns"
                                    (ngModelChange)="updateInterfacesDns($event)">
                            {{item.label}}
                            [
                                <span *ngFor="let ip of item.ip">
                                    {{ip.addr}}/{{ip.mask}}
                
                                </span>
                            ]
                        </mat-checkbox>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>

        <div
            fxFlex="33"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayoutAlign="start stretch">
            
            <mat-card 
                fxFlex
                class="mat-elevation-z5">
                <mat-card-header class="title">
                    <div mat-card-avatar>
                        <mat-icon class="card-icon">language</mat-icon>
                    </div>
                    <mat-card-title>
                        Zones
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div *ngFor="let item of zones; let i = index">
                        <mat-form-field class="">
                            <mat-label>Domain</mat-label>
                            <input matInput [(ngModel)]="zones[i].name" name="zone_{{i}}" required>
                        </mat-form-field>

                        <mat-form-field class="network">
                            <mat-label>Network</mat-label>
                            <input matInput [(ngModel)]="zones[i].network" name="network_{{i}}" required>
                        </mat-form-field>

                        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="delete_zone($event, i)">
                            <mat-icon>close</mat-icon>
                        </button>
                
                    </div>
                    <button mat-button mat-flat-button color="primary" 
                        (click)="add_zone()"
                        matSuffix>
                        <mat-icon>add_circle_outline</mat-icon> Add Zone
                    </button>
                </mat-card-content>
            </mat-card>
        </div>

        <div
            fxFlex="33"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayoutAlign="start stretch">
            
            <mat-card 
                fxFlex
                class="mat-elevation-z5">
                <mat-card-header class="title">
                    <div mat-card-avatar>
                        <mat-icon class="card-icon">storage</mat-icon>
                    </div>
                    <mat-card-title>
                        DNS Servers
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <app-input-multi
                        label="DNS Servers" 
                        property="dnsserver"
                        ip4Validator="false"
                        [values]="server"></app-input-multi>

                </mat-card-content>
            </mat-card>

        </div>
    </div>

    <!-- FIXME: fxLayoutAlign="start center" partially mitigates a layout bug in safari -->
    <h1 fxLayoutAlign="start center" fxLayoutGap="1em grid">DHCP Config</h1>

    <div fxFlex="grow" fxLayout="row wrap" fxLayoutGap="1em grid">

        <div
            fxFlex="33"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayoutAlign="start stretch">

            <mat-card 
                fxFlex
                class="mat-elevation-z5">
                <mat-card-header class="title">
                    <div mat-card-avatar>
                        <mat-icon class="card-icon">router</mat-icon>
                    </div>
                    <mat-card-title>
                        Interfaces
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>

                    <div *ngFor="let item of interface_dhcp; let i = index">
                        <mat-checkbox [(ngModel)]="item.checked" name="interface_dhcp"
                                    (ngModelChange)="updateInterfacesDhcp($event)">
                            {{item.label}}
                            [
                                <span *ngFor="let ip of item.ip">
                                    {{ip.addr}}/{{ip.mask}}
                
                                </span>
                            ]
                        </mat-checkbox>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>

        <div
            fxFlex="33"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayoutAlign="start stretch">
            
            <mat-card 
                fxFlex
                class="mat-elevation-z5">
                <mat-card-header class="title">
                    <div mat-card-avatar>
                        <mat-icon class="card-icon">sync_alt</mat-icon>
                    </div>
                    <mat-card-title>
                        DHCP Range
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div *ngFor="let item of dhcp_ranges; let i = index">
                        <mat-form-field class="ip">
                            <mat-label>Start IP</mat-label>
                            <input matInput [(ngModel)]="dhcp_ranges[i].start" required name="start_{{i}}">
                        </mat-form-field>

                        <mat-form-field class="ip">
                            <mat-label>End IP</mat-label>
                            <input matInput [(ngModel)]="dhcp_ranges[i].end" required name="end_{{i}}">
                        </mat-form-field>

                        <mat-form-field class="lease_time">
                            <mat-label>Lease</mat-label>
                            <input matInput [(ngModel)]="dhcp_ranges[i].lease_time" name="lease_time_{{i}}">
                        </mat-form-field>


                        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="delete_dhcp_range($event, i)">
                            <mat-icon>close</mat-icon>
                        </button>

                    </div>
                    <button mat-button mat-flat-button color="primary" 
                        (click)="add_dhcp_range()"
                        matSuffix>
                        <mat-icon>add_circle_outline</mat-icon> Add Range
                    </button>
                </mat-card-content>
            </mat-card>
        </div> 


        <div
            fxFlex="33"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayoutAlign="start stretch">
            
            <mat-card 
                fxFlex
                class="mat-elevation-z5">
                <mat-card-header class="title">
                    <div mat-card-avatar>
                        <mat-icon class="card-icon">ballot</mat-icon>
                    </div>
                    <mat-card-title>
                        Options
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div>
                        <mat-form-field class="">
                            <mat-label>Router</mat-label>
                            <input matInput [(ngModel)]="dhcp_options['router'].value" required name="router">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="">
                            <mat-label>NTP Server</mat-label>
                            <input matInput [(ngModel)]="dhcp_options['ntp-server'].value" name="ntp">
                        </mat-form-field>
                    </div>

                </mat-card-content>
            </mat-card>
        </div> 



    </div> 

    <div fxLayout="row wrap" fxLayoutGap="1em grid">
        <div fxFlex="100">
            <span fxFlex></span>

            <button style="margin-right: 0.5em"
                mat-stroked-button color="basic" 
                matSuffix (click)="reset()">
                <mat-icon>cancel</mat-icon>
                Reset
            </button>

            <button style="margin-right: 0.5em"
                mat-flat-button color="primary" matSuffix 
                [disabled]="!configForm.form.valid"
                (click)="save(configForm)">
                <mat-icon>save</mat-icon>
                Save
            </button>
        </div>
    </div>

</div>
</form>

<pre>{{configForm.value | json}}</pre>